@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h4 class="display-4" style="text-align: center">- Our Mission - </h4>
    <p class="lead" style="text-align: center">To provide the most actionable publishing experience.</p>
    <hr class="my-4">
    <p>
        At Ghostwriter, we all come to work every day because we want to solve the biggest problem in mobile.
        Everyone is guessing. Publishers don’t know what apps to build, how to monetize them, or even what to price them at.
        Advertisers & brands don’t know where their target users are, how to reach them, or even how much they need to spend in order to do so.
        Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money).
        Throughout the history of business, people use data to make more informed decisions.
        Our mission at Ghostwriter is to make the app economy more transparent.
        Today we provide the most actionable mobile app data & insights in the industry.
        We want to make this data available to as many people as possible (not just the top 5%).
    </p>
    
</div>

<div class="jumbotron">
    <h4 class="display-4" style="text-align: center">Leadership</h4>
    <div class="row">
        <div class="col-md-6">
            <img style="height: 200px; width: 100%; display: block;" src="/Content/images/p15041.png" alt="Card image">
            <p>
                Dimitris Zografakis<br />
                CO-FOUNDER & CEO <br />
                <hr class="my-4">
                Dimitris drives Ghostwriter’s strategic vision and manages investor relations.<br />
                Before Ghostwriter Dimitris was involved in several startups, including: GPush, Oasys Water, GreatPoint Energy, and DVTel.<br />
                DIMITRI’S FAVORITE APPS:<br />
                Uber, One Note, & Yelp
            </p>
        </div>
        <div class="col-md-6">
            <img style="height: 200px; width: 100%; display: block;" src="/Content/images/p15111.png" alt="Card image">
            <p>
                Michalis Papatoukakis<br />
                CO-FOUNDER & CEO <br />
                <hr class="my-4">
                Michalis leads the daily operations at Ghostwriter, including product development and global sales.<br />
                Michalis is passionate about people, sports, and really efficient processes.<br />
                MICHALIS’S FAVORITE APPS:<br />
                Spotify, Yahoo Sports, & Uber
            </p>
        </div>
    </div>
</div>
