@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Ghostwriter Inc.</h1>
    <p class="lead">Welcome to Ghostwriter Inc, world's largest Book Publisher.</p>
    <hr class="my-4">
    <p>Get published today.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home/About" role="button">Learn more</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting published</h2>
        <p>
            Just an aesthetic paragraph, containing things you probably won't ever read.
            I need to put more text though in order to appear full.
            So how was your day?
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mass Orders</h2>
        <p>
            Just an aesthetic paragraph, containing things you probably won't ever read.
            I need to put more text though in order to appear full.
            So how was your day?
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become a partner</h2>
        <p>
            Just an aesthetic paragraph, containing things you probably won't ever read.
            I need to put more text though in order to appear full.
            So how was your day?
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>